# Ignore virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
/*/.env
.env.*
*.env
!.env.example
!.env.*.example

carddetection/.env
carddetection/cards/*
carddetection/images/*
elixircount/frame/*
elixircount/images/*

how_to_use_for_ai.txt

winwin/frame/*
winwin/images/*

scripts/*

uREADME.md
game_data_log.jsonl
*.jsonl

deeplearning/models/*
model_test

backup