# Ignore virtual environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
/*/.env
.env.test

carddetection/.env
carddetection/cards/*
carddetection/images/*
elixircount/frame/*
elixircount/images/*

how_to_use_for_ai.txt

winwin/frame/*
winwin/images/*